{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

<div class="row max-width-660 mx-sm-auto">
  <div class="col">
    <h1 class="h4 py-2 my-2 border-bottom">{{ 'ご利用ガイド'|trans }}</h1>
  </div>
</div>

{% endblock %}
