{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
<div class="row max-width-660 mx-sm-auto">
  <div class="col">
    <h1 class="h4 py-2 my-2 border-bottom">{{ '特定商取引法に基づく表記'|trans }}</h1>

    <div class="border-bottom p-3">
      <div class="fw-bold">販売業者</div>
      <div>〇〇株式会社</div>
    </div>

    <div class="border-bottom p-3">
      <div class="fw-bold">代表責任者</div>
      <div>通販 太郎</div>
    </div>

    <div class="border-bottom p-3">
      <div class="fw-bold">所在地</div>
      <div>
        〒100-XXXX<br>
        東京都打味区手簀戸町00-12<br>
        アンノウンマンション B32
      </div>
    </div>

    <div class="border-bottom p-3">
      <div class="fw-bold">代表連絡先</div>
      <div>
      TEL: 03-9X2E-7H21<br>
      MAIL: info[a]cajiya.co.jp
      </div>
    </div>

    <div class="border-bottom p-3">
      <div class="fw-bold">URL</div>
      <div>{{ url('homepage') }}</div>
    </div>

    <div class="border-bottom p-3">
      <div class="fw-bold">商品代金以外の必要料金</div>
      <div>
      ここに商品代金以外の必要料金についてのテキストが入ります。ここに商品代金以外の必要料金についてのテキストが入ります。ここに商品代金以外の必要料金についてのテキストが入ります。
      </div>
    </div>

    <div class="border-bottom p-3">
      <div class="fw-bold">引き渡し時期</div>
      <div>
      ここに引き渡し時期についてのテキストが入ります。ここに引き渡し時期についてのテキストが入ります。ここに引き渡し時期についてのテキストが入ります。
      ここに引き渡し時期についてのテキストが入ります。ここに引き渡し時期についてのテキストが入ります。ここに引き渡し時期についてのテキストが入ります。
      </div>
    </div>

    <div class="border-bottom p-3">
      <div class="fw-bold">お支払方法</div>
      <div>
      ここにお支払方法についてのテキストが入ります。ここにお支払方法についてのテキストが入ります。ここにお支払方法についてのテキストが入ります。
      </div>
    </div>

    <div class="border-bottom p-3">
      <div class="fw-bold">返品・交換について</div>
      <div>
      ここに返品・交換についてのテキストが入ります。ここに返品・交換についてのテキストが入ります。ここに返品・交換についてのテキストが入ります。
      ここに返品・交換についてのテキストが入ります。ここに返品・交換についてのテキストが入ります。ここに返品・交換についてのテキストが入ります。
      </div>
    </div>


  </div>
</div>

{% endblock %}